/* Global Settings */
body {
    background-color: #34383d;
}

/* Header Image */
.header-image {
    height: 100vh;
    min-height: 500px;
    background-image: url(../images/lazy-morning-programming-in-a-bed-picjumbo-com.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-logo{
      height: 25%;
      width: 25%;
  }